<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">Grow Your Business With US</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="imeges/about.svg" alt="herosection_image">
                    </figure>
                </div>

                <div
                    class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                    <h1>WE Will HELP YOU TO</h1>
                    <h1>GROW YOUR BUSINESS</h1>
                    <P>We Are The Team Of <span class="bold-style">Professional Developer✌️ </span></P>
                    <button class="btn btn-primary btn-style">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>