<div class="container-fluid footer-style">
    <footer class="row row-cols-1 row-cols-sm-2  row-cols-md-5 py-5 border-top">
        <div class="col mb-3 m-auto">
            <p class="text-center">Copyright &copy; by Ayush Singh Rajput 💖</p>
        </div>
    </footer>
</div>